body {
    font-family: Arial, sans-serif;
    background-image: url('kitchen.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-position 0.1s ease;
}

.rectangle1 {
    width: 500px;
    height: 900px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 10px 5px -4px rgba(191, 191, 191, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Cepelinai {
    width: 475px;
    height: 275px;
    position: relative;
    top: 130px;
    left: 13px;
    transform: translateY(-50%);
    background-image: url('Cepekai.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.button-container {
    position: relative;
    top: 410px; 
    left: 155px;
}

.Started {
    box-shadow: 4px 4px 5px -2px #3dc21b;
    background-color:#44c767;
    border-radius:15px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Caveat", cursive;
    font-size: 25px;
    font-weight: bold;
    font-optical-sizing: auto;
    font-style: normal;
    padding:13px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    position: relative;
}

.Started:hover {
    background-color:#44c767;
}

.Started:active {
    position:relative;
    top:1px;
}

.Started::after {
    content: "Click to start !";
    position: absolute;
    width: 150px;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#44c767;
    color: #fff;
    padding:13px 13px;
    font-size: 28px;
    border-radius:15px;
    border:1px solid #18ab29;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.Started:hover::after {
    opacity: 1;
    visibility: visible;
}

.welcometext {
    position: relative;
    font-family: "Caveat", cursive;
    color: #333333;
    text-align: center;
    margin: 20px;
}

.welcometext h1 {
    position: absolute; 
    top: 270px;
    left: 134px;
    transform: translateX(-50%);
    font-size: 30px;
    margin: 0;
}

.welcometext p {
    position: absolute; 
    top: 320px; 
    left: 39%; 
    text-align: left;
    transform: translateX(-50%); 
    font-size: 16px;
    font-family: "Laila", serif;
    margin: 0;
    width: 80%;
}

.welcometext p2 {
    position: absolute; 
    top: 780px; 
    font-family: "Laila", serif;
    left: 39%; 
    text-align: left;
    transform: translateX(-50%); 
    font-size: 16px;
    margin: 0;
    width: 80%;
}
