body {
    font-family: Arial, sans-serif;
    background-color: #a8aa16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.rectangle1 {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 10px 5px -4px rgba(191, 191, 191, 1);
    position: relative;
    bottom: 130px;
    right: 600px;
}